/* importing  Google fonts-lobster*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Pacifico&family=Playwrite+IN:wght@100..400&family=Playwrite+VN:wght@100..400&family=Sofia&display=swap');

body{
  background-image: linear-gradient(135deg, rgba(30, 60, 114, 0.79) 25%, rgba(42, 82, 152, 0.7) 64%, rgba(77, 171, 247, 0.78) 99%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'poppins',sans-serif;

}


.nar-container{
  background-image: url(images/image5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
  animation: changes 100s infinite ease-in-out;

}
@keyframes changes {
  0%{
    background-image: url(images/image5.jpeg) ;
  }
  20%{
    background-image: url(images/image4.jpeg) ;
  }
  40%{
    background-image: url(images/image3.jpeg) ;
  }
  60%{
    background-image: url(images/image2.jpeg) ;
  }
  80%{
    background-image: url(images/image1.jpeg) ;
  }
  
}
.slider-container{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  justify-items: center;
 
}

.slider{
  border-radius: 10px;
  width: 70%;
  gap: 4px;
  margin-top: 5px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-type: mandatory;
  scrollbar-width: none;

}
.slider::-webkit-scrollbar{
  display: none;
}

.card{
  margin-top: 5px;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 200px;
  width: 400px;
  color: white;
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.07);
  z-index: 1;
}


.card:nth-child(odd){
  background-image: linear-gradient(135deg, #ced4da 0%, #1e3c72 28%, #2a5298 86%, #ced4da 100%);
}
.card:nth-child(even){
  background-image: linear-gradient(135deg, #ced4da 8%, #1e3c72 23%, #2a5298 56%, #748ffc 74%, #ced4da 100%);
}
.nav-bar{
  transition: 0.5;
  background-color: rgba(236, 221, 221, 0.082);
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-bar.scrolled{
  transition: 1s;
  background-color: grey;
}
.nav-div{
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  text-decoration: none;
  width: 100%;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.527);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
.sidebar li{
  width: 100%;
}

.sidebar li a{
  color: black;
  width: 100%;
}

.logo-container{
  display: flex;
}
.logo{
  height: 100px;
}

.nav-div li{
  float: left;
  padding: 10px;
  
}
.nav-div ul{
list-style-type: none;
}

.nav-div a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  width: fit-content;
  transition: 0.5s;
}
a.actvive, li a:hover{
  background-color: rgba(0, 0, 0, 0.459);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  transition: 0.5s;
}


.background-video{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  
}
.logo-container h1{
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2em;
  padding-top: 0px;
  width: 20px;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  z-index: 1;
}
.header-container h1{
  color: white;
  font-size: 6em;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.267);
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
  width: 500px;
  text-transform: uppercase;
}

.inspiration-verse{
  background-image: linear-gradient(135deg, rgba(30, 60, 114, 0.55) 25%, rgba(42, 82, 152, 0.57) 64%, rgba(77, 171, 247, 0.62) 99%);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:  white;
  
  
}
.inspiration-verse h1{
font-family: lobster;

}
.inspiration-verse p{
  font-weight: bolder;

}
.mission-container h1{
  font-family: sofia;
  text-decoration: underline;
}
.mission-container{
  display: inline-block;
  width: 30%;
  background-image: linear-gradient(135deg, rgba(30, 60, 114, 0.85) 25%, rgba(42, 82, 152, 0.85) 64%, rgba(77, 171, 247, 0.83) 99%);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color:  white;

}
.vision-container h1{
  font-family: sofia;
  padding-bottom:1px ;
  text-decoration: underline;
}

.vision-container{
  width: 30%;
  background-image: linear-gradient(135deg, rgba(30, 60, 114, 0.85) 25%, rgba(42, 82, 152, 0.85) 64%, rgba(77, 171, 247, 0.83) 99%);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  color:  white;

}

.missonvision-container{
  background-image: url(images/wooden-cross-on-a-hilltop-at-sunset.webp);background-size: cover;background-repeat: no-repeat;
  height: 90vh;
  align-items: center;
 
}
.aboutus-container h1{
  font-family: sofia;
  text-decoration: underline;
}

.aboutus-container{
  display:block;
  width: 30%;
  background-image: linear-gradient(135deg, rgba(30, 60, 114, 0.28) 25%, rgba(42, 82, 152, 0.32) 64%, rgba(77, 171, 247, 0.36) 99%);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
 margin-right: 40px;
 height: 300px;
 color:  white;

}


.location-container {
  max-width: 1500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 600px;
}
iframe{
  width: 700px;
  height: 450px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.directions, .contact-form {
  flex: 1;
  margin: 0 10px;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.map-links a {
  display: block;
  margin-bottom: 10px;
  color: #007BFF;
  text-decoration: none;
}
.map-links a:hover {
  text-decoration: underline;
}
.map-credit {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.contact-form button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #0056b3;
}


footer{
  background-color: #111;
}

.footer-continer{
  width: 100%;
  padding: 70px,30px,20px;
}
.socialicons{
  display: flex;
  justify-content: center;
}
.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50px;
}
.socialicons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicons a:hover{
  background-color: #000;
  transition: 0.5s;
  color: white;
}
.socialicons a:hover i{
  color: white;
  transition: 0.5s;
}

.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
}
.footernav ul li a{
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  
}

.footernav ul li a:hover{
  opacity: 1;
}
.footerbottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
  
}

.footerbottom p{
  color: white;
}

.desingner{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
opacity: 0.7;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
margin: 0px 5px;
}

@media screen and (max-width:470px){
  .footernav ul{
    flex-direction: column;
  }
  .footernav ul li{
    width: auto;
    text-align: center;
    margin: 10px;
  }
}


@media screen  and (max-width:1000px){
  .slider-container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
   
  }
  
  .slider{
    border-radius: 10px;
    width: 90%;
    gap: 4px;
    margin-top: 5px;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
  
  }
  .slider::-webkit-scrollbar{
    display: none;
  }
  
  .card{
    margin-top: 5px;
    scroll-snap-align: start;
    border-radius: 30px;
    height: 300px;
    width: 200px;
    color: white;
    background-color: aqua;
    transition: transform 0.3s ease-in-out;
  }
  .card:hover{
    transform: scale(1.03);
  }
  .nar-container{
    height: 70vh;
    z-index: 3;
  }
  .header-container h1{
   font-size: 3em;
   margin-bottom: 200px;
  }
  .top-li{
    display: none;
  }

  .logo-container h1{
   font-size: 15px;
  }
  .logo{
    height: 50px;
    
  }

  .inspiration-verse{
   font-size: 15px;
   margin-top: 10;
    
  }
  .inspiration-verse h1{
  font-family: lobster;
  font-size: 25px;
  
  }

  .mission-container{
  width: 160px; 
  font-size: 12px; 
  
  }
  
  .vision-container{
    width: 160px;
    font-size: 12px; 
    
  
  }
  
  .missonvision-container{
    background-image: url(images/wooden-cross-on-a-hilltop-at-sunset.webp);background-size: cover;background-repeat: no-repeat;
    height: 90vh;
    align-items: center;
   
  }
  
  .aboutus-container{
    font-size: 12px;
    height: auto;
  
  }
  
  iframe{
    width: 100%;
  }
  .location-container {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .top-section {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .directions, .contact-form {
    flex: 1;
    margin: 0 10px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .map-links a {
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
  }
  .map-links a:hover {
    text-decoration: underline;
  }
  .map-credit {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .contact-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-form button:hover {
    background-color: #0056b3;
  }

}

